.home {
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1.5rem;

    h2 {
      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: 1rem;
      color: #fe8464;

      img {
        width: 24px;
        height: 24px;
        position: relative;
        top: -2px;
        margin-right: 10px;
      }
    }

    > div {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .home {
    .content {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: unset;
      grid-gap: 1.5rem;
    }
  }
}
