@import '../../../variables.scss';

.nft-list-container {
  .add-non-fungible-form input {
    flex: 1;
    margin-bottom: 20px;
  }

  a {
    &:hover {
      opacity: 0.8;
    }
  }

  .nft-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    margin-bottom: 1rem;

    .nft-item {
      background-color: $white;

      max-width: 144px;
      margin-bottom: 20px;

      .contract-name {
        font-size: 1rem;
        color: $orange;
      }

      .nft-name {
        color: $black;
      }

      img {
        max-width: 100%;
        height: auto;
        box-shadow: $box-shadow-lg;
        margin-bottom: 0.5rem;
        border-radius: 4px;
      }
    }
  }
  .nft-pagination {
    display: flex;
    justify-content: center;
    margin-left: -1rem;
  }
}

@media only screen and (max-width: 767px) {
  .nft-list-container {
    .add-non-fungible-form input {
      flex: 1;
      margin-bottom: 20px;
    }

    a {
      &:hover {
        opacity: 0.8;
      }
    }

    .nft-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-gap: 10px 30px;
      margin-bottom: 1rem;
    }
  }
}
