@import '../../../variables.scss';
.pools-table {
  background-color: $white;
  justify-content: center;
  align-content: center;
  min-height: 210px;
  box-shadow: $box-shadow-lg;

  .nft-img {
    max-width: 64px;
    height: auto;
    box-shadow: $box-shadow-lg;
    margin-bottom: 0.5rem;
    border-radius: 4px;
  }

  .asset {
    display: flex;

    .chart {
      flex-basis: 64px;
    }

    .content {
      flex: 2;
    }
  }

  .ant-empty {
    margin: 60px;
  }

  .loading-spin > div {
    margin-top: 100px;
  }
}
