.add-non-fungible-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: row;

  input[type='text']:nth-child(1) {
    flex: 2;
  }

  input[type='text']:nth-child(2) {
    flex: 1;
  }

  input {
    flex: 0 1 360px;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .add-non-fungible-form {
    flex-direction: column;
    margin-bottom: 40px;

    input {
      margin-bottom: 20px;
    }
  }
}
