.add-non-fungible-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: row;
  input {
    flex: 0 1 360px;
    margin-right: 1rem;
  }
}
