@import '../../../../variables.scss';
.header {
  display: flex;
  flex-direction: row;

  .logo {
    display: flex;
    flex: 1;

    margin-top: 40px;
    margin-bottom: 40px;

    img {
      max-width: 140px;
      width: 100%;
      height: auto;
    }
  }

  .wallet {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;

    .walletName.ant-btn {
      color: $black !important;
    }

    .walletName.ant-btn[disabled] {
      background: $white !important;
      color: $black !important;
      box-shadow: $box-shadow;
    }
  }
}
