@import '../../../styles.scss';

.contract-securitization-edit {
  margin-bottom: 40px;
  .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1.5rem;
  }

  .title {
    text-align: center;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 8px;
  }

  .securitization-form {
    max-width: 400px;
    justify-self: center;

    .ant-input-group-addon:last-child {
      position: relative;
      left: -4px;
      min-width: 80px;
      color: $orange;
    }

    table {
      margin-bottom: 20px;
    }

    button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .contract-securitization-edit {
    .content {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: unset;
      grid-gap: 1.5rem;
      text-align: center;

      .securitization-form {
        margin: 0 auto;
      }
    }
  }
}
