.contract-securitization-empty {
  margin-bottom: 40px;
  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5rem;

    div {
      background-color: red;
    }
  }
}

@media only screen and (max-width: 767px) {
  .contract-securitization-empty {
    .content {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: unset;
      grid-gap: 1.5rem;
    }
  }
}
