.liquidMain {
  .content {
    display: flex;
    justify-content: center;
    .cardBody {
      width: 100%;
      ul {
        background-color: #f1f1f1;
        li {
          font-size: 10px;
          padding: 4px 8px 4px 8px;
          color: #000;
          font-weight: 400;
        }
      }
    }
  }
}
