@import '../../../styles.scss';

.contract-image-item {
  display: flex;
  justify-content: center;

  div {
    img {
      width: 100%;
      max-width: 180px;
      height: auto;
      box-shadow: $box-shadow-lg;
      border-radius: 4px;
    }

    .title-image-nft {
      position: fixed;
      bottom: 20px;
      left: 20px;
      color: black;
      font-weight: 500;
      font-size: 1rem;
      z-index: 999999;
    }

    .contract-name {
      font-size: 1rem;
      color: $orange;
      word-break: break-all;
      line-height: 1rem;
      margin-bottom: 0.25rem;
      margin-top: 1rem;
    }

    .contract-meta {
      color: $black;
      margin-bottom: 10px;
    }

    .contract-description {
      width: 100%;
      max-width: 300px;
      justify-content: stretch;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}

@media only screen and (max-width: 767px) {
  .contract-image-item {
    .contract-description {
      margin-bottom: 10px;
    }
  }
}
