@import './variables.scss';

* {
  font-family: 'Open Sans', sans-serif;
}

body,
.ant-modal-body,
.ant-modal-header {
  background-color: $gray-bg;
}

#root > main {
  max-width: 960px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn.ant-btn-loading:not([disabled]) {
  color: $orange;
  background: #fff;
  border-color: $orange;
}

.ant-btn-primary {
  background: linear-gradient(to right, $orange 0%, $pink 50%, $orange 100%);
  border: none;

  box-shadow: 1px 2px 2px -2px rgba(0, 0, 0, 0.5) !important;

  &:hover,
  &:focus {
    background: linear-gradient(
      to right,
      rgba(254, 132, 100, 0.8) 0%,
      rgba(254, 110, 154, 0.8) 50%,
      rgba(254, 132, 100, 0.8) 100%
    ) !important;
    color: $white !important;
    border: none;
  }
}

.ant-input {
  border: none;
  box-shadow: 1px 2px 2px -2px rgba(0, 0, 0, 0.5);
}
